@CHARSET "ISO-8859-1";

media="screen"
.ui-icon {
padding: 0;
display: none;
cursor: pointer;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-o-border-radius: 2px;
border-radius: 2px;
}

@CHARSET "ISO-8859-1";

h3{
font-size:18px;
text-align:center;
text-shadow:1px 0px 3px gray;
}

#popup{
padding-top:80px;
}
.form{
border-radius:2px;
padding:50px 30px;
box-shadow:0 0 15px;
font-size:14px;
font-weight:bold;
width:300px;
margin:20px 250px 0 35px;
float:left;
}

#reportdiv{
opacity:0.80;
position: absolute;
top: 0px;
left: 0px;
height: 100%;
width: 100%;
background: #000000;
display: none;
}

#report{
width:400px;
margin:0px;
background-color:white;
font-family: 'Fauna One', serif;
position: relative;
border: 5px solid rgb(50, 50, 50);

}
.img{
float: right;
margin-top: -35px;
margin-right: -37px;
}
#report{
left: 50%;
top: 53%;
margin-left:-210px;
margin-top:-255px;
} 
